{:kotoba.app/id "cloud.itonami.isic-7020", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif6fmmhqb4ysp7lo27hztz7bgkwb4azvmfuonf6yxclqtyptfvnxi", :kotoba.app/embed-url "ipfs://bafkreif6fmmhqb4ysp7lo27hztz7bgkwb4azvmfuonf6yxclqtyptfvnxi", :published {:archive "https://kotobase.net/ipfs/bafkreif6fmmhqb4ysp7lo27hztz7bgkwb4azvmfuonf6yxclqtyptfvnxi", :size 72363, :put-status 201, :get-status 200, :at "2026-08-15T13:46:18.395Z"}}
